.banner {
  max-width: 1600px;
  margin: 0 auto;
  background: radial-gradient(50% 50% at 50% 50%, #C13EFF 0%, #863FED 100%);
  border-radius: 8px;
  overflow: hidden;
  display: flex;

  .bg_left {
    flex-grow: 1;
    background: url("/assets/img/boxes_left.png") center top no-repeat;
    background-size: cover;
  }

  .bg_right {
    flex-grow: 1;
    background: url("/assets/img/boxes_right.png") center top no-repeat;
    background-size: cover;
  }

  .banner_wrapper {
    flex: 0 1 840px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20px;
  }

  .banner_left {
    position: relative;

    .brands_decor_text {
      position: absolute;
      top: 15px;
      left: -85px;
      font-size: 20px;
      line-height: 26px;
      color: $white;
      transform: rotate(-15deg);
    }

    .brands_title {
      font-size: 47px;
      line-height: 1;
      text-transform: uppercase;
      color: $primary8;
      //max-width: 420px;
      max-width: 480px;
      margin-top: 8px;
    }

    .brands_list {
      max-width: 500px;
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item {
        //img {
        //  max-width: 95px;
        //}
        &:not(:last-child) {
          margin-right: 20px;
        }
      }

      .np {
        img {
          max-width: 80px;
        }
      }

      .justin {
        img {
          max-width: 58px;
        }
      }

      .meest {
        img {
          max-width: 60px;
        }
      }

      .ukrposhta {
        img {
          max-width: 80px;
        }
      }

      .kp {
        img {
          max-width: 95px;
        }
      }
    }
  }

  .banner_right {
    .pigeon {
      position: relative;

      .comment {
        background: url("/assets/img/comment2.svg") center top no-repeat;
        background-size: cover;
        width: 201px;
        height: 55px;
        position: absolute;
        right: 50%;
        bottom: 45%;

        display: flex;
        justify-content: center;
        align-items: center;

        span {
          font-size: 18px;
          line-height: 22px;
          color: $white;
          max-width: 166px;
          text-align: center;
        }
      }

      .keep {
        position: absolute;
        right: -15%;
        bottom: 45%;
      }
    }
  }
}


@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 767px) {

}