.stress {
  padding: 0 0 100px 0;

  .stress_content {
    display: flex;
    .stress_left{
      position: relative;
      .stress_comment{
        position: absolute;
        right: 0;
        top: -35px;
        background: url("/assets/img/comment1.svg") center top no-repeat;
        background-size: cover;
        width: 208px;
        height: 110px;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        span {
          max-width: 160px;
          font-size: 18px;
          line-height: 1;
          color: $white;
        }
      }

    }
    .stress_right {
      flex-grow: 1;
      h3 {
        font-size: 24px;
        line-height: 27px;
        text-align: center;
        color: $white;
      }

      .counter {
        display: flex;
        margin-top: 50px;

        .counter_item {
          flex: 0 1 100%;

          .counter_block {
            background: url("/assets/img/counter_bg.jpg") top center no-repeat;
            background-size: contain;
            height: 180px;
            position: relative;
            .counter_value{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 1;

              font-size: 100px;
              line-height: 111px;
              color: $white;
            }
          }
        }

        p {
          font-size: 18px;
          line-height: 1;
          text-align: center;
          color: $white;
          margin-top: 20px;
        }
      }
    }
  }

  .promo {
    background: $primary4;
    border-radius: 8px;
    padding: 40px 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .promo_left {
      width: 50%;

      h4 {
        font-weight: bold;
        font-size: 24px;
        line-height: 1;
        color: $primary1;
        margin-bottom: 20px;
      }

      p {
        font-size: 18px;
        line-height: 22px;
        color: $white;
      }
    }

    .promo_right {
      width: 50%;

      #form{
        display: flex;
        flex-direction: column;
        align-items: center;

        .input{}
        .button{}
        .subscription_tooltip{
         // display: none;
        }
      }
    }
  }
}