.btn_type1 {
  text-decoration: none;
  width: 290px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  //transition: background-color 3s;

  font-size: 18px;
  line-height: 1;
  color: $black;

  background: linear-gradient(89.86deg, $primary1 0.1%, $primary2 99.88%);
  border-radius: 30px;

  &:hover, &:active {
    background: linear-gradient(89.86deg, $primary2 0.1%, $primary1 99.88%);
  }
}

.btn_type3 {
  color: $white;
  width: 220px;
  height: 48px;
  background: url("/assets/img/button_bg.svg") top center no-repeat;
  background-size: cover;
  text-decoration: inherit;
  border-radius: 30px;
  border: none;
  outline: none;

  position: relative;
  overflow: hidden;

  &:after {
    animation: sheen 2s forwards;
    animation-iteration-count: infinite;
    content: '';
    width: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -55px;
    transform: rotateZ(-45deg);
    background: linear-gradient(to bottom, transparent, rgba(255,255,255,0.5) 50%, transparent);
  }

  @keyframes sheen {
    100% {
      left: 220px;
    }
  }
}
